body {
	background-color: #444;
    background: url('../img/background.jpg');
    background-size: cover;
    padding-top: 50px;
}

h1 {
    color: #FCA205;
    font-family: 'Lobster';
    text-align: center
}

a {
	color: inherit;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.vertical-offset-100{
    padding-top:100px;
}