{% extends 'gtpros/menu.html' %}

<!-- Main container -->
{% block content %}

<div class="row">
	<div class="col-lg-12 col-md-12">

		<h1 class="page-header">Importar Actividades e Hitos</h1>

	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<form method="POST" class="post-form" role="form" enctype="multipart/form-data">
			{%csrf_token %}
			<!-- Modal Body -->

			{% if form.errors %}
			<div class="text-danger" id="modal-form-error">Por favor,
				corrija los siguiente errores.</div>
			{% endif %}
			
			{{ form.as_p }}

			<button type="button" class="btn btn-default" data-dismiss="modal">
				Cancelar</button>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</div>

{% endblock content %}
