{% extends 'gtpros/base.html' %}

<!-- Head extra container -->
{% block extra_head %}
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css">
	
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

<!-- Body container -->
{% block body %}

<!-- Contenido de la pagina principal -->
<nav class="navbar navbar-default navbar-static-top" role="navigation"
	style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		{% if proyecto %}
			<a class="navbar-brand" href="{% url 'project' id_proyecto=proyecto.pk %}">
				<i class="glyphicon glyphicon-calendar"></i>
				<b>{{ proyecto.nombre }}</b>
			</a>
			
		{% else %}
			GTPROS v1.0
		{% endif %}
	</div>
	<!-- /.navbar-header -->

	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown" href="#"> <i class="glyphicon glyphicon-th-list"></i>
				<i class="fa fa-caret-down"></i>
		</a>
			<ul class="dropdown-menu dropdown-messages">

				{% for proyecto in request.session.listaProyectos %}
				<li><a href="{% url 'project' id_proyecto=proyecto.pk %}">
						<div>
							<strong>{{proyecto.nombre}}</strong> <span class="pull-right text-muted">
								<em>
								ESTADO: {{ proyecto.get_estado_display }}
								</em>
							</span>
						</div>
						<div>{{proyecto.descripcion}}</div>
				</a></li>
				<li class="divider"></li>
				{% endfor %}

				<li><a class="text-center" href="{% url 'index' %}"> <strong>Ver todos los proyectos
					</strong> <i class="fa fa-angle-right"></i>
				</a></li>
			</ul> <!-- /.dropdown-messages --></li>
		<!-- /.dropdown -->
		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown" href="#"> <i class="glyphicon glyphicon-user"></i>
				<i class="fa fa-caret-down"></i>
		</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="#"><i class="fa fa-user fa-fw"></i> {{request.user.username}}</a></li>
				<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>
						Salir</a></li>
			</ul> <!-- /.dropdown-user --></li>
		<!-- /.dropdown -->
	</ul>
	<!-- /.navbar-top-links -->

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
		{% if not proyecto %}
			<div class="bg-warning">
				Selecciona un proyecto.
			</div>
		{% else %}
			<ul class="nav" id="side-menu">
				{% if request.session.jefe %}
					{% if proyecto.estado == 'N' %}
						<li><a href="{% url 'cargos' id_proyecto=proyecto.pk %}"><i class="fa fa-wrench fa-fw"></i>
								Asignar Trabajadores</a></li>
						<li><a href="{% url 'importar' id_proyecto=proyecto.pk %}"><i class="glyphicon glyphicon-plus-sign"></i>
								Importar actividades e hitos</a>
					{% endif %}
					{% if proyecto.estado == 'A' %}
						<li><a href="{% url 'roles' id_proyecto=proyecto.pk %}"><i class="fa fa-wrench fa-fw"></i>
								Asignar Roles a Actividades</a></li>
					{% endif %}
					{% if proyecto.estado == 'P' %}
						<li><a href="{% url 'events' id_proyecto=proyecto.pk %}"><i class="fa fa-wrench fa-fw"></i>
								Ver Actividades e Hitos</a></li>
					{% endif %}
					{% if proyecto.estado == 'I' %}
						<li><a href="{% url 'events' id_proyecto=proyecto.pk  %}"><i class="glyphicon glyphicon-check"></i>
								Validar Actividades e Hitos</a>
					{% endif %}
				{% else %}
					{% if proyecto.estado == 'A' or proyecto.estado == 'P' %}
						<li><a href="{% url 'actividades' id_proyecto=proyecto.pk %}"><i class="glyphicon glyphicon-check"></i>
								Listar Actividades Asignadas</a>
					{% endif %}
				{% endif %}
				{% if proyecto.estado == 'I' %}
					<li><a href="{% url 'reports' id_proyecto=proyecto.pk %}"><i class="glyphicon glyphicon-eye-open"></i>
							Informes de Actividad</a></li>
				{% endif %}
				{% if proyecto.estado == 'F' %}
					<li><a href="{% url 'summary' id_proyecto=proyecto.pk %}"><i class="glyphicon glyphicon-book"></i>
							Resumen de Proyecto</a></li>
				{% endif %}
			</ul>
		{% endif %}
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
	{% block content %}
	{% endblock %}
</div>

{% endblock body %}

<!-- Scripts block -->
{% block extra_js %}
<script
	src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js"></script>
{% endblock %}
