{% extends 'gtpros/menu.html' %}

<!-- Main container -->
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<a class="btn btn-default header-button" data-toggle="modal"
			data-target="#modalForm"><span class="glyphicon glyphicon-pencil"></span></a>
		<h1 class="page-header">Resumen</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

{% if resumen %}
<div class="row">
	<div class="col-lg-10 col-md-10">
		<div class="panel panel-default">
			{{ resumen.descripcion }}
		</div>
	</div>
</div>
{% endif %}

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Editar resumen del proyecto</h4>
			</div>

			<form method="POST" class="post-form" role="form">
			{%csrf_token %}
				<!-- Modal Body -->
				<div class="modal-body">
	
					{% if form.errors %}
					    <div class="text-danger" id="modal-form-error">Por favor, corrija los siguiente errores.</div>
				    {% endif %}
	
					{{ form.as_p }}
	
				</div>
	
				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock content %}